NEXT_PUBLIC_API_URL=http://localhost:3001/api

# TMDB v4 Read Access Token (Server-side proxy)
# Obtido em: https://www.themoviedb.org/settings/api
TMDB_API_KEY=seu_read_access_token_v4_aqui

# Chave API Watchmode (Server-side proxy)
# Obtido em: https://api.watchmode.com/
WATCHMODE_API_KEY=sua_chave_watchmode_aqui
